// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.masthead {
  height: 320px;
  min-height: 400px;
  min-width: 1200px;
  background: asset_url("masthead.jpg");
  background-size: 100%;
  margin-top: -5px;
  .search {
    background: rgba(0,0,0,0.3);
    width: 665px;
    min-height: 125px;
    margin: 90px auto 0 !important;
    color: #fff;
    text-shadow: 0 2px 2px rgba(0,0,0,0.2);
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    h1 {
      color: white;
      margin-bottom: 10px;
    }
    h3 {
      color: white;
      margin-top: 0px;
    }
    form {
      margin: 0;
    }
  }
}