- content_for :javascripts do
  %script{:src => "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"}
  = javascript_include_tag 'machines'

  :javascript
    $(document).ready(initialize({map:false}));
    $(document).on('page:load', initialize({map:false}));
    $(document).ready(initializePage());
    $(document).on('page:load', initializePage());

%h1 Machines#index

.search
  %form{class: "machine_search"}
    %input{placeholder: "Search", id: "address"}
    %input{type: "number", id: "distance", placeholder: "Distance", value: 20}
    = select_tag(:category, options_for_select([['3d Printer', '3d Printer'], ['Laser Cutter', 'Laser Cutter']]), id: "category")
    %input{type: "submit"}

#map-canvas

.ajax-loader
  = image_tag("loader.gif", alt: "loading results")

.results
