%nav.top-bar
  %ul.title-area
    %li.name
      %h1
        = link_to "Make It!", root_path
  %section.top-bar-section
    %ul.right
      %li.divider
      %li
        = link_to "sign in", new_user_session_path unless user_signed_in?
        = link_to("sign out", destroy_user_session_path, :method => :delete) if user_signed_in?
      %li.has-form
        = link_to "list your machine", new_user_registration_path, :class => "button"